<div>
    TEST VIEW of clothes list
</div>>

<!-- 
This file is receiving an object called (clothes_list)

-> SO ITERATE THROUGH THAT OBJECT TO DISPLAY WHAT I NEED TO

//QUESTION: IN EJS, HOW TO ITERATE AND DISPLAY OBJECT AND ITS VALUES

-->