<div>asa
    TEST VIEW of clothes formasdasd
</div>

<form>
    <label for = "clothes_name"> Clothes Name </label><br>
    <input type = "text" id = "clothes_name" name = "clothes_name"> <br>
    
    <label for = "designer_name"> Designer Name</label><br>
    <input type = "text" id = "designer_name" name = "designer_name"> <br>

    <label for = "rating"> Rating </label> <br>
    <input type = "number" step = "1" id = "rating" name = "rating"> <br>

    <label for = "stock"> Stock </label> <br>
    <input type = "number" step = "1" id = "stock" name = "stock"> <br>

    <label for = "clothes_type_name"> Category </label><br>
    <input type = "text" id = "clothes_type_name" name = "clothes_type_name"> <br>

    <label for = "price"> Price </label> <br>
    <input type = "number" step = "1" id = "price" name = "price"> <br>

    <input type = "submit" value = "Submit">

</form>