<div>
    TEST VIEW of clothes type delete
</div>>

<form method = "POST" action = "">
    <input type = "hidden" name = "clothestypeid" value = "<%= clothes_type._id%>">
    <button class = "btn-primary btn-delete"> Remove clothes type </button>

</form>