<div>
    TEST VIEW of clothes delete
</div>>

<form method = "POST" action = "">
    <input type = "hidden" name = "clothesid" value = "<%= clothes._id%>">
    <button class = "btn-primary btn-delete"> Remove item </button>

</form>