<div>
    TEST VIEW of clothes type detail
</div>>

<p>
    <%= clothes_type.category %>
 </p>
    
 <p>
    <%= clothes_type.description %>
 </p>

 <button class="btn-primary btn-update"><a href="<%= clothes_type.url %>/update">Update Clothes Type </a></button>