<div>
    TEST VIEW of clothes type form
</div>>

<form method="POST" action = "">
    <label for = "category_name"> Category Name </label><br>
    <input type = "text" id = "category_name" name = "category_name"> <br>
    
    <label for = "description"> Describe the category </label><br>
    <input type = "text" id = "description" name = "description"> <br>

    <input type = "submit" value = "Submit">

</form>