<div>
    TEST VIEW of clothes type list
</div>>

<ul>
    <% for (const clothes_type of clothes_type_list){ %>
        <li>
            <%= clothes_type.category %>
        </li>

        <li>
            <%= clothes_type.description %>
        </li>
    <% } %>
    <p> BREAKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKUH</p>
</ul>