<div>
    TEST VIEW of designer delete
</div>>

<form method = "POST" action = "">
    <input type = "hidden" name = "designerid" value = "<%= designer._id%>">
    <button class = "btn-primary btn-delete"> Remove designer </button>

</form>