<div>
    TEST VIEW of designer list
</div>

<ul>
    <% for (const designer of designer_list) { %>
        <li>
            <%= designer.name %>
        </li>

        <li>
            <%= designer.date %>
        </li>

        <li>
            <%= designer.summary %>
        </li>

    <% } %>
    <p> BREAKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKUH</p>
</ul>