<div>
    TEST VIEW of designer detail
</div>>

<p>
    <%= designer.name %>
 </p>
    

 <p>
    <%= designer.date %>
 </p>


<p>
    <%= designer.summary %>
 </p>

 <button class="btn-primary btn-update"><a href="<%= designer.url %>/update">Update Designer</a></button>