<form>
    <label for = "designer_name"> Designer Name </label><br>
    <input type = "text" id = "designer_name" name = "designer_name"> <br>
    
    <label for = "founded_date"> Date founded</label><br>
    <input type = "text" id = "founded_date" name = "founded_date"> <br>

    <input type = "submit" value = "Submit">

</form>