<ul class = 'sidebar-nav'> 
    <li>
        <a href = "/"> Home </a>
    </li>

    <li>
        <a href = "/clothes"> All clothes </a>
    </li>

    <li>
        <a href = "/catalog"> All clothes types </a>
    </li>

    <li>
        <a href = "/catalog"> All genres </a>
    </li>

    <li>
        <a href = "/catalog"> Create new clothes </a>
    </li>

    <li>
        <a href = "/catalog"> Create new clothes type </a>
    </li>

    <li>
        <a href = "/catalog"> Create new designer </a>
    </li>

   
</ul>