<ul class = 'sidebar-nav'> 
    <li>
        <a href = "/"> Home </a>
    </li>

    <li>
        <a href = "/catalog/clothes"> All clothes </a>
    </li>

    <li>
        <a href = "/catalog/clothes_type"> All clothes types </a>
    </li>

    <li>
        <a href = "/catalog/designer"> All designers </a>
    </li>

    <li>
        <a href = "/catalog/clothes/create"> Create new clothes </a>
    </li>

    <li>
        <a href = "/catalog/clothes_type/create"> Create new clothes type </a>
    </li>

    <li>
        <a href = "/catalog/designer/create"> Create new designer </a>
    </li>

   
</ul>